@import "../../../../../stylesheets/styles";

.search-container {
  @include grid-center();

  mat-form-field {
    max-width: 400px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 620px) {
  .search-container {
    mat-form-field {
      width: 100%;
    }
  }
}

@media screen and (max-width: 410px) {
  .search-container {
    margin-left: 8px;
  }
}
