@import "../../../../stylesheets/styles";

.dialog-content-form {
  @include flex-structure(column, none, none);

  .text-danger {
    margin-top: -22px;
    color: $error;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.buttons-form {
  @include flex-structure(none, none, space-between);
}
