@import "../../../../stylesheets/styles";

.main-home-container {
  height: 90vh;
  @include flex-structure(column, none, center);

  .messages-login {
    @include grid-center();

    p {
      color: $primary;
      text-decoration: underline;
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 450px) {
  .messages-login {
    p {
      text-align: center;
    }
  }
}
