@import "../../../../stylesheets/styles";

.main-home-container {
  height: 90vh;
  @include flex-structure(column, none, center);

  .messages-login {
    @include grid-center();

    p {
      color: $advice;
      text-decoration: underline;
    }
  }
}
